<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnStr" value="Server=10.88.4.133:60000;DataBase=SCV6TD;UID=CDHC;PWD=cdhc"/>
  </appSettings>
  <connectionStrings>
    <add name="DHQREntities" connectionString="metadata=res://*/BaseInfo.csdl|res://*/BaseInfo.ssdl|res://*/BaseInfo.msl;provider=System.Data.SqlClient;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.89.72.19;initial catalog=DHQR;persist security info=True;user id=sa;password=ABCD=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DHQREntities" connectionString="metadata=res://*/BaseInfo.csdl|res://*/BaseInfo.ssdl|res://*/BaseInfo.msl;provider=System.Data.SqlClient;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.89.72.9;initial catalog=DHQR;persist security info=True;user id=sa;password=gyyc123!@#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TestEntities" connectionString="metadata=res://*/Testdb.csdl|res://*/Testdb.ssdl|res://*/Testdb.msl;provider=Devart.Data.DB2;provider connection string=&quot;user id=CDHC;password=cdhc;server=10.88.4.133:60000;database=SCV6TD;persist security info=True;current schema=CDHC&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.web>
    <webServices>
         <protocols>
            <add name="HttpSoap"/>
            <add name="HttpPost"/>
            <add name="HttpGet"/>
            <add name="Documentation"/>
         </protocols>
</webServices> 
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" executionTimeout="120000" />
    </system.web>

</configuration>
