BODY {
	MARGIN: 0px auto; FONT: 12px/1.5em Arial Helvetica "sans-serif"; BACKGROUND: #fff; HEIGHT: 100%; COLOR: #434343
}
BODY {
	BACKGROUND: url(header_bg.gif) #ffffff repeat-x 0px -30px 
}
HTML {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
DIV {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #555; TEXT-DECORATION: none; PADDING-TOP: 0px
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #555
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.clear {
	HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
.faceborder {
	WIDTH: 46px; BACKGROUND: url(facebg.gif); HEIGHT: 46px
}
.d_default {
	COLOR: #999999
}
.d_on {
	COLOR: #999999
}
.d_ok {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 24px; PADDING-RIGHT: 0px; BACKGROUND: url(ok.gif) no-repeat 4px 50%; PADDING-TOP: 2px
}
.d_err {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 24px; PADDING-RIGHT: 0px; BACKGROUND: url(error.gif) no-repeat 4px 50%; COLOR: #ffaa71; PADDING-TOP: 2px
}
#head {
	WIDTH: 100%; HEIGHT: 63px
}
#head {
	TEXT-ALIGN: center; MARGIN-TOP: 30px; WIDTH: 800px; MARGIN-LEFT: 100px
}
#head {
	MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: url(bg_toper.png) repeat-x center -50px; HEIGHT: 90px
}
#head .logo {
	WIDTH: 300px; FLOAT: left; HEIGHT: 54px; FONT-SIZE: 0px
}
#head #head_right {
	TEXT-ALIGN: right; MARGIN: 17px 10px 0px 0px; DISPLAY: inline; FLOAT: right
}
#head #head_right A {
	COLOR: #005599
}
#head #head_left {
	WIDTH: 230px; FLOAT: left
}
.headc {
	WIDTH: 400px; FLOAT: left; PADDING-TOP: 10px
}
.headr {
	LINE-HEIGHT: 54px; WIDTH: 240px; PADDING-RIGHT: 5px; FLOAT: right; COLOR: #7b7d7f
}
#homehead {
	MARGIN: 0px auto; WIDTH: 1000px; BACKGROUND: url(bg_toper.png) 0px -46px; HEIGHT: 60px
}
#menu {
	MARGIN: 0px auto; WIDTH: 1000px; BACKGROUND: url(bg_toper.png) repeat-x center -104px; HEIGHT: 37px
}
#menu .channel_nav {
	PADDING-LEFT: 30px; HEIGHT: 37px
}
#menu .channel_nav LI {
	LINE-HEIGHT: 25px; FLOAT: left; HEIGHT: 32px; PADDING-TOP: 6px
}
#menu .channel_nav LI A {
	MIN-WIDTH: 84px; TEXT-ALIGN: center; MARGIN: 0px 5px; WIDTH: 84px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 32px; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#menu .channel_nav LI A:hover {
	TEXT-DECORATION: none
}
#menu .channel_nav LI A.on {
	BACKGROUND: url(bg_toper.png) no-repeat; COLOR: #444; FONT-WEIGHT: bold
}
.rl {
	POSITION: relative; MARGIN-TOP: 5px; WIDTH: 90px
}
.abs {
	Z-INDEX: 999; BORDER-BOTTOM: #a5d9f0 1px solid; POSITION: absolute; BORDER-LEFT: #a5d9f0 1px solid; MARGIN: -5px 0px 0px; DISPLAY: none; WHITE-SPACE: nowrap; BACKGROUND: #f0f9ff; BORDER-TOP: #a5d9f0 1px solid; BORDER-RIGHT: #a5d9f0 1px solid; PADDING-TOP: 10px; TOP: 26px; LEFT: 0px
}
.abs DL {
	PADDING-LEFT: 10px; HEIGHT: 25px
}
.abs DL A {
	
}
.bl {
	DISPLAY: block; PADDING-TOP: 4px
}
#menu .channel_nav .rl .abs DL {
	BORDER-BOTTOM: #fff 1px solid; BACKGROUND: url(topline_bg.gif) no-repeat 8px 8px
}
#menu .channel_nav .rl .abs A {
	TEXT-ALIGN: left; PADDING-LEFT: 5px; HEIGHT: 23px; COLOR: #666; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.textbox {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; LINE-HEIGHT: 22px; HEIGHT: 22px; COLOR: #555; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.textarea {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; WIDTH: 300px; COLOR: #555; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.button {
	BORDER-BOTTOM-COLOR: #3366cc; BORDER-TOP-COLOR: #3366cc; BACKGROUND: #3366cc; COLOR: #fff; BORDER-RIGHT-COLOR: #3366cc; BORDER-LEFT-COLOR: #3366cc; MARGIN-RIGHT: 1em
}
.button {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 130%; BORDER-RIGHT-WIDTH: 1px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; FONT-SIZE: 9pt; OVERFLOW: visible; BORDER-LEFT-WIDTH: 1px; CURSOR: pointer; PADDING-TOP: 0px
}
.clefttitle {
	WIDTH: 80px
}
.clefttitle STRONG {
	FONT-WEIGHT: normal
}
.msgtips {
	COLOR: #999999
}
.regbox .rank {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 125px; BACKGROUND: url(../../images/rank.gif) no-repeat; HEIGHT: 22px; VERTICAL-ALIGN: middle; BORDER-TOP: medium none; CURSOR: default; BORDER-RIGHT: medium none
}
.regbox .r0 {
	BACKGROUND-POSITION: 0px 0px
}
.regbox .r1 {
	BACKGROUND-POSITION: 0px -22px
}
.regbox .r2 {
	BACKGROUND-POSITION: 0px -44px
}
.regbox .r3 {
	BACKGROUND-POSITION: 0px -66px
}
.regbox .r4 {
	BACKGROUND-POSITION: 0px -88px
}
.regbox .r5 {
	BACKGROUND-POSITION: 0px -110px
}
.regbox .r6 {
	BACKGROUND-POSITION: 0px -132px
}
.regbox .r7 {
	BACKGROUND-POSITION: 0px -154px
}
#regmain {
	TEXT-ALIGN: center
}
.regbox .st1 {
	BORDER-BOTTOM: #d3e3eb 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d3e3eb 1px solid; LINE-HEIGHT: 26px; MARGIN: 20px; PADDING-LEFT: 20px; BACKGROUND: #ebeff3; HEIGHT: 26px; FONT-SIZE: 14px; BORDER-TOP: #d3e3eb 1px solid; BORDER-RIGHT: #d3e3eb 1px solid
}
.regbox .st1 A {
	COLOR: #ff6600; FONT-SIZE: 14px
}
.regbox {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 796px
}
.regbox #regtop {
	BACKGROUND: url(../images/bj_top.jpg) no-repeat; HEIGHT: 1px; FONT-SIZE: 1px
}
.regbox #regbottom {
	BACKGROUND: url(../images/bj_bottom.jpg) no-repeat; HEIGHT: 12px; FONT-SIZE: 1px
}
.regbox #regcenter {
	BORDER-LEFT: #037ec9 1px solid; PADDING-BOTTOM: 20px; HEIGHT: auto; BORDER-RIGHT: #037ec9 1px solid; PADDING-TOP: 20px
}
.regbox DL {
	LINE-HEIGHT: 30px
}
.regbox DT {
	TEXT-ALIGN: left; MARGIN: 0px; PADDING-LEFT: 30px; WIDTH: 21%; PADDING-RIGHT: 2em; FLOAT: left; HEIGHT: 30px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.regbox DD {
	MARGIN: 0px; WIDTH: 25%; PADDING-RIGHT: 2em; FLOAT: left
}
.regbox DD.Tips {
	TEXT-ALIGN: left; MARGIN: 0px; WIDTH: 44%; PADDING-RIGHT: 0px; HEIGHT: 30px
}
.regbox .cc {
	CLEAR: both
}
.regbox .cc DT {
	FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.regbox .input {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 25px; WIDTH: 200px; HEIGHT: 25px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.ml {
	BORDER-BOTTOM: #e0f1ff 1px solid; BORDER-LEFT: #e0f1ff 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f0f8ff; HEIGHT: 35px; CLEAR: both; BORDER-TOP: #e0f1ff 1px solid; BORDER-RIGHT: #e0f1ff 1px solid
}
.f14 {
	LINE-HEIGHT: 35px; MARGIN: 20px 20px 8px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.typetips {
	BORDER-BOTTOM: #ffcc00 2px solid; BORDER-LEFT: #ffcc00 2px solid; PADDING-BOTTOM: 6px; MARGIN: 8px; PADDING-LEFT: 6px; WIDTH: 600px; PADDING-RIGHT: 6px; HEIGHT: 36px; BORDER-TOP: #ffcc00 2px solid; BORDER-RIGHT: #ffcc00 2px solid; PADDING-TOP: 6px
}
#loading {
	BORDER-BOTTOM: #ffcc00 1px solid; POSITION: absolute; BORDER-LEFT: #ffcc00 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 160px; PADDING-RIGHT: 2px; DISPLAY: none; BACKGROUND: #f8f2da; HEIGHT: 23px; COLOR: #ff6600; FONT-SIZE: 12px; BORDER-TOP: #ffcc00 1px solid; RIGHT: 0px; BORDER-RIGHT: #ffcc00 1px solid; PADDING-TOP: 2px; TOP: 0px
}
.regusertype {
	BORDER-BOTTOM: #fedada 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #fedada 1px solid; PADDING-BOTTOM: 10px; MARGIN: 20px; PADDING-LEFT: 20px; BACKGROUND: #fff0f0; FONT-SIZE: 14px; BORDER-TOP: #fedada 1px solid; BORDER-RIGHT: #fedada 1px solid; PADDING-TOP: 10px; line-heihgt: 30px
}
#userDetail {
	MARGIN: 20px; PADDING-RIGHT: 20px
}
#userDetail LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 32px; HEIGHT: 32px
}
#userDetail .clefttitle {
	COLOR: #555; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
#regcenter .tdbg {
	LINE-HEIGHT: 25px; FONT-SIZE: 14px
}
.regtype {
	Z-INDEX: 100; BORDER-BOTTOM: #a5d9f0 1px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #a5d9f0 1px solid; OVERFLOW-X: hidden; WIDTH: 280px; MARGIN-BOTTOM: 0px; BACKGROUND: #f0f9ff; HEIGHT: 300px; OVERFLOW: auto; BORDER-TOP: #a5d9f0 1px solid; BORDER-RIGHT: #a5d9f0 1px solid; TOP: 245px
}
.regtype TD {
	TEXT-ALIGN: left
}
.red {
	COLOR: red
}
.splittd {
	BORDER-BOTTOM: #efefef 1px solid
}
.title {
	BACKGROUND: #eef1f1; HEIGHT: 25px; FONT-WEIGHT: bold
}
.tdbg {
	LINE-HEIGHT: 25px; BACKGROUND: #ffffff
}
.tdbgmouseover {
	LINE-HEIGHT: 25px; BACKGROUND: #fbfdfd
}
.t_head {
	LINE-HEIGHT: 25px; PADDING-LEFT: 10px; BACKGROUND: #a5d9f0; HEIGHT: 25px; FONT-WEIGHT: bold
}
DIV.RegLicense {
	BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #666666 1px solid; PADDING-BOTTOM: 15px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 15px; WIDTH: 98%; PADDING-RIGHT: 15px; HEIGHT: 380px; COLOR: #000000; FONT-SIZE: 12px; OVERFLOW: auto; BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #666666 1px solid; PADDING-TOP: 15px
}
.reglice {
	BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; TEXT-INDENT: 2em; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 760px; PADDING-RIGHT: 10px; HEIGHT: 260px; OVERFLOW: scroll; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 10px
}
.station {
	POSITION: absolute; COLOR: #acb2ba; TOP: 94px; LEFT: 2px
}
.station .c_green {
	COLOR: #676767; FONT-WEIGHT: bold
}
TD {
	FONT-FAMILY: "lucida Grande",Verdana; FONT-SIZE: 12px
}
INPUT {
	FONT-FAMILY: "lucida Grande",Verdana; FONT-SIZE: 12px
}
BUTTON {
	FONT-FAMILY: "lucida Grande",Verdana; FONT-SIZE: 12px
}
SELECT {
	FONT-FAMILY: "lucida Grande",Verdana; FONT-SIZE: 12px
}
BODY {
	FONT-FAMILY: "lucida Grande",Verdana; FONT-SIZE: 12px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.topline_height {
	HEIGHT: 11px; OVERFLOW: hidden
}
.topline {
	HEIGHT: 11px; OVERFLOW: hidden
}
.maincontent {
	PADDING-LEFT: 5px; HEIGHT: 100%; MARGIN-LEFT: 215px
}
.leftcontent {
	WIDTH: 188px; FLOAT: left; HEIGHT: 100%; OVERFLOW: hidden
}
.fdbody {
	HEIGHT: 100%
}
.topbg {
	WIDTH: 486px; FLOAT: right; HEIGHT: 66px
}
.lgoo {
	Z-INDEX: 1; POSITION: absolute
}
.topdata {
	HEIGHT: 66px
}
.imglogo {
	DISPLAY: block; FLOAT: left
}
.switch {
	LINE-HEIGHT: 23px; MARGIN: 12px 0px 0px 40px; DISPLAY: block; FLOAT: left
}
.switch LI {
	DISPLAY: block; FLOAT: left
}
.setinfo {
	TEXT-ALIGN: right; MARGIN: 8px 8px 0px 0px; HEIGHT: 23px
}
.toplineimg {
	WIDTH: 184px; HEIGHT: 22px
}
LI.fs {
	LINE-HEIGHT: 23px; MARGIN: 0px 5px 3px; PADDING-LEFT: 13px; PADDING-RIGHT: 2px; HEIGHT: 23px
}
LI.fn {
	LINE-HEIGHT: 23px; MARGIN: 0px 5px 3px; PADDING-LEFT: 13px; PADDING-RIGHT: 2px; HEIGHT: 23px
}
LI.f_calender {
	LINE-HEIGHT: 23px; MARGIN: 0px 5px 3px; PADDING-LEFT: 13px; PADDING-RIGHT: 2px; HEIGHT: 23px
}
.leftpanel {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.search_subject {
	Z-INDEX: 11; POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 0px; WIDTH: 284px; PADDING-RIGHT: 6px; HEIGHT: 22px; RIGHT: 0px; PADDING-TOP: 0px
}
.search_subject DIV.addrtitle {
	Z-INDEX: 1; POSITION: relative; MARGIN: 4px -2px 0px 0px; FLOAT: right
}
.newskinbody LI.fs {
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px
}
.newskinbody LI.fn {
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px
}
.newskinbody LI.fs A {
	PADDING-LEFT: 13px; DISPLAY: block; HEIGHT: 22px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.newskinbody LI.fn A {
	PADDING-LEFT: 13px; DISPLAY: block; HEIGHT: 22px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.fss {
	PADDING-LEFT: 13px; HEIGHT: 26px
}
.fss A {
	COLOR: #006699; FONT-SIZE: 14px
}
LI.fs A.fdleft {
	COLOR: #006699
}
LI.fs A.fdleft:link {
	COLOR: #006699
}
LI.fs A.fdleft:visited {
	COLOR: #006699
}
LI.fs A.fdleft:active {
	COLOR: #006699
}
LI.fd_mg A.fdleft {
	COLOR: #006699
}
LI.fd_mg A.fdleft:link {
	COLOR: #006699
}
LI.fd_mg A.fdleft:visited {
	COLOR: #006699
}
LI.fd_mg A.fdleft:active {
	COLOR: #006699
}
LI.fs A.fdleft:hover {
	COLOR: #fff
}
LI.fd_mg A.fdleft:hover {
	COLOR: #fff
}
.topdata {
	COLOR: #006699
}
.topdata A {
	COLOR: #006699
}
.topdata A:link {
	COLOR: #006699
}
.topdata A:visited {
	COLOR: #006699
}
A.onlineman {
	COLOR: #006699
}
.newskinbody LI.fs A:hover {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; BACKGROUND: url(go.gif) #fff no-repeat right 50%; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid; TEXT-DECORATION: none
}
.newskinbody LI.fs_sep A:hover {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; BACKGROUND: url(go.gif) #fff no-repeat right 50%; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid; TEXT-DECORATION: none
}
.frame_class {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.getuserdata {
	BACKGROUND: url(top_bg.jpg) repeat-x
}
.topdata {
	BACKGROUND: url(top_data.gif) no-repeat
}
.topline {
	BACKGROUND: url(topline_bg.gif) repeat-x
}
.toplineimg {
	WIDTH: 197px; BACKGROUND: url(topline.gif) no-repeat; HEIGHT: 11px
}
.leftcontent {
	WIDTH: 192px
}
.newskinbody {
	PADDING-LEFT: 8px; BACKGROUND: url(left_normal_bg.jpg) no-repeat
}
.fdbody {
	BACKGROUND: url(left_bottom_bg.jpg) #96cce4 0px 596px
}
.readmailinfo .fdbody {
	BACKGROUND-IMAGE: none
}
LI.fs A:link {
	COLOR: #000
}
LI.fs A:visited {
	COLOR: #000
}
LI.fd_mg A:link {
	COLOR: #000
}
LI.fd_mg A:visited {
	COLOR: #000
}
LI.fn A:link {
	COLOR: #ffffff
}
LI.fn A:visited {
	COLOR: #ffffff
}
.mem_left_top {
	
}
.mem_left_photo {
	MARGIN-TOP: 20px; WIDTH: 58px; BACKGROUND: url(bg-frame.jpg); FLOAT: left; HEIGHT: 67px
}
.mem_left_photo IMG {
	WIDTH: 58px; HEIGHT: 58px
}
.mem_left_name {
	TEXT-ALIGN: left; PADDING-LEFT: 4px; WIDTH: 126px; FLOAT: right
}
.mem_left_name LI {
	LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none
}
.mem_left_ad {
	LINE-HEIGHT: 22px; HEIGHT: 22px; COLOR: red; FONT-WEIGHT: bold
}
BUTTON:unknown {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.pn {
	Z-INDEX: 0; BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(pnp.png) no-repeat 0px 0px; HEIGHT: 30px; COLOR: #666; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-TOP: medium none; CURSOR: pointer; MARGIN-RIGHT: 3px; BORDER-RIGHT: medium none; PADDING-TOP: 0px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px
}

@media Unknown    
{
.pn {
	FONT-FAMILY: "Microsoft YaHei","Hiragino Sans GB",STHeiti,SimHei,sans-serif
}
    }
.pn * {
	POSITION: relative; LINE-HEIGHT: 30px; PADDING-RIGHT: 20px; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND: url(pnp.png) no-repeat 100% -40px; HEIGHT: 30px; FONT-WEIGHT: 700; text-shadow: 1px 1px 1px #EEE
}
.pn STRONG {
	PADDING-LEFT: 2px; LETTER-SPACING: 2px; FONT-WEIGHT: normal
}
.pnc {
	BORDER-BOTTOM-COLOR: #10297b; BORDER-TOP-COLOR: #10297b; BACKGROUND-POSITION: 0px -240px; COLOR: #fff; BORDER-RIGHT-COLOR: #10297b; BORDER-LEFT-COLOR: #10297b
}
.pnc * {
	BACKGROUND-POSITION: 100% -280px; text-shadow: 1px 1px 1px #10297B
}
.pnp {
	BORDER-BOTTOM-COLOR: #f0f3e6; BORDER-TOP-COLOR: #f0f3e6; BACKGROUND-POSITION: 0px -80px; BORDER-RIGHT-COLOR: #f0f3e6; BORDER-LEFT-COLOR: #f0f3e6
}
.pnp * {
	BACKGROUND-POSITION: 100% -120px; text-shadow: 1px 1px 1px #F0F3E6
}
.tbox {
	BORDER-BOTTOM: #a5d9f0 1px solid; BORDER-LEFT: #a5d9f0 1px solid; PADDING-BOTTOM: 10px; BORDER-TOP: #a5d9f0 1px solid; BORDER-RIGHT: #a5d9f0 1px solid
}
.tabs {
	BORDER-BOTTOM: #ccc 1px solid; MARGIN-TOP: 10px; WIDTH: 100%; MARGIN-BOTTOM: 5px; HEIGHT: 35px
}
.tabs UL {
	POSITION: relative; MARGIN-TOP: 3px; BOTTOM: -1px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 2px
}
.tabs LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; PADDING-LEFT: 1px; WIDTH: 116px; PADDING-RIGHT: 1px; BACKGROUND: url(t2.gif) no-repeat; FLOAT: left; HEIGHT: 32px; COLOR: #2c602f; CURSOR: pointer; PADDING-TOP: 0px
}
.tabs LI A {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.tabs LI.select {
	LINE-HEIGHT: 32px; WIDTH: 116px; BACKGROUND: url(t1.gif) no-repeat; HEIGHT: 32px; CURSOR: auto
}
.content {
	MARGIN: 10px auto 0px; PADDING-LEFT: 4px; WIDTH: 960px
}
.content .left {
	WIDTH: 220px; FLOAT: left
}
.content .right {
	
}
.left1 {
	
}
.titlename {
	TEXT-ALIGN: left; LINE-HEIGHT: 31px; PADDING-LEFT: 26px; BACKGROUND: url(nav_title_bg.jpg) no-repeat; HEIGHT: 31px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.contbg {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: url(nav_bg.gif) repeat-y; HEIGHT: auto; PADDING-TOP: 8px
}
.contbg UL {
	TEXT-ALIGN: left
}
.contbg LI {
	LINE-HEIGHT: 23px; LIST-STYLE-TYPE: none; HEIGHT: 23px
}
.leftmenu LI {
	MARGIN-BOTTOM: 0px
}
.left1 .contbg {
	HEIGHT: 100%; OVERFLOW: hidden
}
.contbg A {
	
}
.left1 .contbg .gengxin {
	LINE-HEIGHT: 28px; PADDING-LEFT: 10px; BACKGROUND: url(btn_normal.gif) no-repeat; HEIGHT: 28px
}
.left1 .contbg .gengxin A {
	COLOR: red
}
.left1 .bottom {
	BACKGROUND: url(nav_bg_bottom.gif) no-repeat; HEIGHT: 9px
}
.left1 .contbg .mem_left_ad A {
	TEXT-ALIGN: center; COLOR: #fb7300; FONT-WEIGHT: bold
}
.left2 {
	MARGIN-TOP: 10px
}
.left2 .contbg {
	HEIGHT: 100%; OVERFLOW: hidden
}
.left2 .contbg UL {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.left2 .contbg LI {
	LINE-HEIGHT: 22px; WIDTH: 50%; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden
}
.left2 .contbg LI A {
	TEXT-DECORATION: none !important
}
.appl IMG {
	MARGIN: 5px 5px -4px 0px
}
.left2 .contbg SPAN {
	VISIBILITY: hidden; MARGIN-LEFT: 3px
}
.left2 .contbg .hvr SPAN {
	VISIBILITY: visible
}
.left2 .contbg SPAN A {
	COLOR: #999
}
.left2 .contbg SPAN A:hover {
	COLOR: #06c
}
.left2 .bottom {
	BACKGROUND: url(nav_bg_bottom.gif) no-repeat; HEIGHT: 9px
}
.t_head {
	LINE-HEIGHT: 25px; PADDING-LEFT: 10px; BACKGROUND: #a5d9f0; HEIGHT: 25px; FONT-WEIGHT: bold
}
.message {
	LINE-HEIGHT: 30px
}
.message A {
	COLOR: #005599; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.contenttitle {
	COLOR: #6699cc; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.contenttitle A {
	FONT-SIZE: 14px
}
.contenttitle A:link {
	COLOR: #006699; TEXT-DECORATION: underline
}
.contenttitle A:visited {
	COLOR: #006699; TEXT-DECORATION: underline
}
.contenttitle A:hover {
	COLOR: #6699cc; TEXT-DECORATION: underline
}
.Contenttips SPAN {
	COLOR: #999999
}
.Contenttips SPAN A:link {
	COLOR: #999999
}
.Contenttips SPAN A:visited {
	COLOR: #999999
}
.Contenttips SPAN A:hover {
	COLOR: #ff6600
}
A.box {
	BORDER-BOTTOM: #a5d9f0 1px solid; BORDER-LEFT: #a5d9f0 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; HEIGHT: 23px; BORDER-TOP: #a5d9f0 1px solid; BORDER-RIGHT: #a5d9f0 1px solid; PADDING-TOP: 3px
}
A.box:link {
	COLOR: #2c602f; TEXT-DECORATION: none
}
A.box:visited {
	COLOR: #2c602f; TEXT-DECORATION: none
}
A.box:hover {
	COLOR: #2c602f; TEXT-DECORATION: none
}
.jobname {
	PADDING-LEFT: 10px
}
#fenye {
	CLEAR: both
}
#fenye A {
	TEXT-DECORATION: 
}
#fenye .prev {
	TEXT-ALIGN: center; WIDTH: 52px
}
#fenye .next {
	TEXT-ALIGN: center; WIDTH: 52px
}
#fenye A.curr {
	BORDER-BOTTOM: #dcdddd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #dcdddd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: url(tagbg.gif); COLOR: red; BORDER-TOP: #dcdddd 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #dcdddd 1px solid; PADDING-TOP: 0px
}
#fenye A.curr:visited {
	COLOR: #fff
}
#fenye A {
	BORDER-BOTTOM: #dcdddd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #dcdddd 1px solid; LINE-HEIGHT: 22px; MARGIN: 5px 4px 0px 0px; DISPLAY: inline-table; BACKGROUND: url(tabs_bg.jpg); FLOAT: left; HEIGHT: 22px; COLOR: #1e50a2; BORDER-TOP: #dcdddd 1px solid; BORDER-RIGHT: #dcdddd 1px solid
}
#fenye A.num {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
#fenye A:visited {
	COLOR: #1f3a87
}
#fenye A:hover {
	BORDER-BOTTOM: #97aff3 1px solid; BORDER-LEFT: #97aff3 1px solid; BACKGROUND: url(tagbg.gif); FLOAT: left; BORDER-TOP: #97aff3 1px solid; BORDER-RIGHT: #97aff3 1px solid
}
#fenye SPAN {
	MARGIN: 10px; DISPLAY: block
}
.tbox {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 1px
}
.tbox .Member_gg {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 4px
}
.tbox .Member_gg LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 8px; BACKGROUND: url(/style/images/shang_list.gif) no-repeat 0px 7px
}
.tbox .Member_gg LI A {
	COLOR: #20537a
}
.tbox .Member_gg LI A:hover {
	COLOR: #ff0000
}
.tbox .t_head {
	LINE-HEIGHT: 37px; PADDING-LEFT: 30px; BACKGROUND: url(left_01.jpg) #dbe9f6; HEIGHT: 37px; COLOR: #fff; FONT-WEIGHT: bold
}
.maincontent .navigation {
	LINE-HEIGHT: 35px; HEIGHT: 35px; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.maincontent .navigation A {
	COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.visitor .user_name {
	COLOR: #005599
}
.userborder .userview {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.userborder .userview:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.usertitle {
	TEXT-ALIGN: left; LINE-HEIGHT: 26px; PADDING-LEFT: 20px; BACKGROUND: #f1f1f1; HEIGHT: 26px; COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.border .chargetitle {
	TEXT-ALIGN: left; LINE-HEIGHT: 26px; PADDING-LEFT: 20px; BACKGROUND: #f1f1f1; HEIGHT: 26px; COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.border .titlename {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; BACKGROUND: #f1f1f1; HEIGHT: 26px; COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#copyright {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; MARGIN: 10px auto 0px; WIDTH: 970px; BACKGROUND: #f1f1f1; HEIGHT: 26px; COLOR: #999
}
.v4_nav {
	BACKGROUND-IMAGE: url(/style/images/nav_bg.gif); MARGIN-TOP: 18px; WIDTH: 970px; BACKGROUND-REPEAT: repeat-x; FLOAT: left; HEIGHT: 48px
}
.v4_nav .nav_content {
	BACKGROUND-IMAGE: url(/style/images/nav_l_bg.gif); PADDING-LEFT: 25px; BACKGROUND-REPEAT: no-repeat; FLOAT: left
}
.v4_nav .nav_content LI {
	BACKGROUND-IMAGE: url(/style/images/nav_li_right.gif); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 48px; PADDING-LEFT: 10px; WIDTH: 88px; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; FLOAT: left; HEIGHT: 48px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.v4_nav .nav_content LI A {
	WIDTH: 88px; DISPLAY: block; HEIGHT: 48px; COLOR: #fff
}
.v4_nav .nav_content LI.current {
	LINE-HEIGHT: 37px
}
.v4_nav .nav_content LI.current A {
	WIDTH: 88px; DISPLAY: block; BACKGROUND: url(/style/images/nav_li_current.gif) no-repeat; HEIGHT: 37px; COLOR: #fff
}
.v4_nav .nav_content LI A:hover {
	WIDTH: 88px; DISPLAY: block; BACKGROUND: url(/style/images/nav_li_current.gif) no-repeat; HEIGHT: 37px; COLOR: #fff
}
.v4_nav .nav_content LI A:hover {
	BACKGROUND-IMAGE: url(/style/images/nav_li_hover.gif); LINE-HEIGHT: 37px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
.v4_nav_right {
	BACKGROUND-IMAGE: url(/style/images/nav_r_bg.gif); PADDING-BOTTOM: 12px; PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; FLOAT: right; HEIGHT: 23px; MARGIN-LEFT: 50px; PADDING-TOP: 13px
}
.blue {
	COLOR: blue
}
.orange {
	COLOR: #ff5500
}
.orange A {
	COLOR: #ff5500
}
.chengse {
	COLOR: #ff5500
}
.service {
	POSITION: absolute; RIGHT: 0px; TOP: 130px
}
.service-open {
	WIDTH: 143px; BACKGROUND: url(/style/images/service-open.png) no-repeat; HEIGHT: 418px
}
.service-close {
	WIDTH: 31px; BACKGROUND: url(/style/images/service-open.png) no-repeat; HEIGHT: 121px; OVERFLOW: hidden
}
.service-button {
	WIDTH: 34px; FLOAT: left; HEIGHT: 121px; CURSOR: hand
}
.service-inside {
	WIDTH: 103px; FLOAT: right; HEIGHT: 418px
}
.service-inside DL {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.service-inside DL DT {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; MARGIN-TOP: 4px; WIDTH: 100px; MARGIN-BOTTOM: 8px; BACKGROUND: url(/style/images/dttitle.jpg) no-repeat; HEIGHT: 18px; COLOR: #fff
}
.service-inside DL DD {
	LINE-HEIGHT: 27px; TEXT-INDENT: 35px; BACKGROUND: url(/style/images/qq_online.gif) no-repeat 3px 4px; HEIGHT: 27px
}
.service-inside DL DD.esp_1 A {
	COLOR: #f50
}
.service-inside DL DD.esp_2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; TEXT-INDENT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 20px; COLOR: #999
}
.service-inside DL DD.esp_3 {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; TEXT-INDENT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 20px; COLOR: #f50
}
.service-inside DL DD.esp_4 {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; TEXT-INDENT: 0px; MARGIN: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 18px; COLOR: #333
}
.service-inside DL DD.esp_5 {
	TEXT-ALIGN: center; TEXT-INDENT: 0px; MARGIN: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.service-inside DL DD.esp_5 A {
	TEXT-DECORATION: underline
}
