.ticon1 { background-image: url(/images/workflow/ticon1.gif); }
.ticon2 { background-image: url(/images/workflow/ticon2.gif); }
.ticon3 { background-image: url(/images/workflow/ticon3.gif); }
.ticon4 { background-image: url(/images/workflow/ticon4.gif); }
.ticon5 { background-image: url(/images/workflow/ticon5.gif); }
.ticon6 { background-image: url(/images/workflow/ticon6.gif); }
.ticon7 { background-image: url(/images/workflow/ticon7.gif); }
.ticon8 { background-image: url(/images/workflow/ticon8.gif); }
.ticon9 { background-image: url(/images/workflow/ticon9.gif); }
.ticon10 { background-image: url(/images/workflow/ticon10.gif); }
.ticon11 { background-image: url(/images/workflow/ticon11.gif); }
.ticon12 { background-image: url(/images/workflow/ticon12.gif); }
.ticon13 { background-image: url(/images/workflow/ticon13.gif); }
.ticon14 { background-image: url(/images/workflow/ticon14.gif); }
.ticon15 { background-image: url(/images/workflow/delete.gif); }
.paintarea { min-width: 800px; overflow: hidden; }
.nodeicon { background-repeat: no-repeat; background-position: 5px center; }
.nodeicon1 { background-image: url(/images/workflow/ticon7.gif); }
.nodeicon2 { background-image: url(/images/workflow/ticon8.gif); }
.nodeicon3 { background-image: url(/images/workflow/ticon9.gif); }
.nodeicon4 { background-image: url(/images/workflow/ticon10.gif); }
.nodeicon5 { background-image: url(/images/workflow/ticon12.gif); }

.node { cursor: default; height: 51px; width: 129px; }
.node .l { width: 5px; height: 51px; background-image: url(/images/workflow/nodeleft.gif); font-size: 0px; }
.node .l1 { background-image: url(/images/workflow/nodeleft1.gif); }
.node .c { width: 120px; height: 51px; background-image: url(/images/workflow/nodecenter.gif); background-repeat: repeat-x; padding: 1px 0px 1px 0px; }
.node .c1 { background-image: url(/images/workflow/nodecenter1.gif); }

.node .c .icon { padding: 0px 10px 0px 28px; }
.node .r { width: 4px; height: 51px; background-image: url(/images/workflow/noderight.gif); font-size: 0px; }
.node .r1 { background-image: url(/images/workflow/noderight1.gif); }
.node .c .t { height: 17px; line-height: 17px; font-style: italic; color: #262d33; }
.node .c .tt { height: 27px; line-height: 27px; color: #373737; }

.icon1 { color: #163d8a; font-weight: bold; margin-left: 4px; background-image: url(/images/workflow/icon1.gif); padding-left: 21px; height: 24px; background-position: 0px center; }
.icon2 { color: #163d8a; font-weight: bold; margin-left: 4px; background-image: url(/images/workflow/icon2.gif); padding-left: 21px; height: 24px; background-position: 0px center; }
.icon3 { color: #163d8a; font-weight: bold; margin-left: 4px; background-image: url(/images/workflow/icon3.gif); padding-left: 21px; height: 24px; background-position: 0px center; }
.grid { background-image: url(/images/workflow/grid.gif); background-repeat: repeat; }
.left { float: left; }
.test { position: relative; }

.vline { position: relative; z-index: 9999; left: 10px; top: 10px; }
/*画线*/
.newline { position: relative; z-index: 9999; left: 10px; top: 10px; }
/*新建线*/

.ffline { overflow: visible; left: 100px; top: 100px; ;text-align:right;width:100px;position:absolute;z-index:9999;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);height:7px;background-image:url(/images/workflow/ll.gif);background-position:0pxcenter;background-repeat:repeat-x;}
.ffline a { display: inline-block; height: 7px; width: 7px; background-image: url(/images/workflow/lj.gif); }
.ffline div { position: absolute; left: 50%; top: 50%; overflow: visible; font-size: 14px; }
.draw-line { font-size: 1px; }


#textform div { float: left; padding: 5px 20px; }
#loadform { border: 1px #ccc solid; height: 100px; }
#buttonform { clear:both; text-align: right; padding-right: 20px; }
