
*
{
    outline: none !important;
    -moz-outline: none !important;
}
/*Metro Background color class*/
.bg_lb
{
    background: #333eee;
}
.bg_lb:hover,.bg_lb:focus
{
    background:#27a9e3;
    }
.bg_lb_selected
{
    background:#27a9e3;
    }
.bg_db
{
    background: #2295c9;
}
.bg_lg
{
    background: #28b779;
}
.bg_dg
{
    background: #66b7f9;
}
.bg_ly
{
    background: #ffb848;
}
.bg_dy
{
    background: #da9628;
}
.bg_ls
{
    background: #2255a4;
}
.bg_lo
{
    background: #da542e;
}
.bg_lr
{
    background: #f74d4d;
}
.bg_lv
{
    background: #603bbc;
}
.bg_lh
{
    background: #b6b3b3;
}

.widget-box {
	background: none repeat scroll 0 0 #F9F9F9;
	border-left: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	clear: both;
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
	overflow:hidden !important;
}
.accordion .widget-box {
	margin-top: -2px;
	margin-bottom: 0;
	border-radius: 0;
}
.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
	 /*background:rgb(254, 206, 47);*/
	background-image: url('../JqueryUi/images/ui-bg_highlight-soft_100_deedf7_1x100.png');
	border-bottom: 1px solid #CDCDCD;
	height: 36px;
    background-position:50% 50%;  
}
.widget-title .nav-tabs {
	border-bottom: 0 none; 
}
.widget-title .nav-tabs li a {
	border-bottom: medium none !important;
	border-left: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	border-right: 1px solid #DDDDDD;
	border-top: medium none;
	color: #999999;
	margin: 0;
	outline: medium none;
	padding: 9px 10px 8px;
	font-weight: bold; 
	text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
	border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
	background-color: transparent !important;
	border-color: #D6D6D6;
	border-width: 0 1px;
	color: #2b2b2b;
}
.widget-title .nav-tabs li.active a {
	background-color: #F9F9F9 !important;
	color: #444444;
}

.widget-title span.icon {
	padding: 9px 10px 7px 11px;
	float: left; border-right:1px solid #dadada;
	line-height: 20px;
	height:20px;
}
.widget-title h5 {
	color: #666;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 11px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
	margin-right: 190px;
}
.widget-content {
	padding:15px;
	border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
	border-bottom: 1px solid #CDCDCD;
}

form
{
    margin-bottom: 0;
}
.form-horizontal .control-group
{
   /* border-top: 1px solid #eeeeee;*/
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0;
}
.form-horizontal .control-group:last-child
{
    border-bottom: 0;
}
.form-horizontal .control-label
{
    padding-top: 10px;
    width: 120px;
}
.form-horizontal .controls
{
    margin-left: 120px;
    padding: 5px 0;
    margin-right: 5px;
}
.form-horizontal textarea,.form-horizontal input[type="text"],.form-horizontal input[type="password"],.form-horizontal input[type="datetime"],.form-horizontal input[type="datetime-local"],.form-horizontal input[type="date"],.form-horizontal input[type="month"],.form-horizontal input[type="time"],.form-horizontal input[type="week"],.form-horizontal input[type="number"],.form-horizontal input[type="email"],.form-horizontal input[type="url"],.form-horizontal input[type="search"],.form-horizontal input[type="tel"],.form-horizontal input[type="color"],.form-horizontal .uneditable-input
{
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	width:160px;
}
.form-horizontal select,.form-horizontal textarea,.form-horizontal input[type="text"],.form-horizontal input[type="password"],.form-horizontal input[type="datetime"],.form-horizontal input[type="datetime-local"],.form-horizontal input[type="date"],.form-horizontal input[type="month"],.form-horizontal input[type="time"],.form-horizontal input[type="week"],.form-horizontal input[type="number"],.form-horizontal input[type="email"],.form-horizontal input[type="url"],.form-horizontal input[type="search"],.form-horizontal input[type="tel"],.form-horizontal input[type="color"],.form-horizontal .uneditable-input {
	height: 20px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
}
.form-horizontal .form-actions
{
    margin-top: 0;
    margin-bottom: 0;
}
.help-block, .help-inline
{
    color: #999999;
}
.control-label
{
    color: #666;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Open Sans" , sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: right;
    width: 120px;
}
.controls
{
    font-family: "Open Sans" , sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin-left: 130px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.controls input[type="checkbox"]
{
    display: inline-block;
    line-height: 20px;
    height: 20px;
    transition-delay: 0s 0s;
    transition-duration: 0.2s 0.2s;
    transition-property: border,box-shadow;
    transition-timing-function: linear ,linear;
    vertical-align: middle;
    }
.controls textarea
{
    height: 40px;
    }
.controls input[disabled]{
	cursor: not-allowed;
	background-color: #eee;
	}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus {	
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	border-color: rgba(82,168,236,0.8);
}

/*首页盒子模型*/
.content-box
{
    width:100%;
    list-style-type: none;
    border-bottom:1px solid #ebebeb;
    color:#666;
    line-height:20px;
    margin-bottom: 0px;
    padding:10px 0px;
    }
.content-box-progress
{
    border:1px solid #ccc;
    background-color:#fff;
    background-clip:border-box;
    background-attachment:scroll;
    background-origin:padding-box;
    box-shadow:1px 1px 0px 1px rgba(0,0,0,0.05);
	padding:10px;
    }
.content-box-date
{
    float: right;
    }
.progress
{
	height: 20px;
	width:80%;
	margin-bottom: 10px;
    display:inline-block;
	overflow: hidden;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
    }
.progress .bar
{
    float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #149bdf;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.75, rgba(255,255,255,0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	-o-background-size: 40px 40px;
	background-size: 40px 40px
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width .6s ease;
	-moz-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease
    }
