body { margin: 0px; color: #000; font-size: 13px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td, th { font-size: 12px; line-height: 18px; }

.header { height: 35px; line-height: 35px; border-bottom: 1px solid #CCCCCC; margin-bottom: 10px; }
.nav_txt { font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 25px; color: #666666; }
.input { width: 175px; height: 18px; line-height: 18px; border: 1px solid #8A9496; }
.bottom { margin-top: 8px; }
.tab_win { width: 100%; height: 100%; }
.tab_win tr { height: 30px; line-height: 30px; }
table { font-size: 12px; line-height: 150%; word-spacing: 0.1em; background-color: White; }
a:visited { color: #006699; text-decoration: none; }
a:active { color: #006699; text-decoration: none; }
a:link { color: #006699; text-decoration: none; }
a:hover { text-decoration: underline; color: #000099; }
.GridView { margin-bottom: 5px; color: #333333; /*background-color: #CCCCCC;*/ width: 100%; border: none; }
.GridView_Head { background: url(/images/base/table_head.gif); border-bottom: 1px solid #78a3c9; color: #333333; background-color: #507CD1; border-width: 1px; border-style: Solid; font-weight: bold; white-space: nowrap; border: none; text-align: center; }
/*Table样式*/
.table_navigation { margin-bottom: 6px; }
.table_head_background { padding: 2px; background-color: #f0f0f0; background: url(/images/base/table_head.gif); font-weight: bold; }

.table_head_mbackground { padding: 2px; background-color: #f0f0f0; background: url(/images/base/table_head.gif); }


/*页面顶端的路径, 被masterpage使用*/
.divPagePath { background: url(/images/bullet6.gif) 3px no-repeat; vertical-align: bottom; text-indent: 16px; background-repeat: no-repeat; display: inline; line-height: 20px; float: left; margin-top: 5px; }


.table_search { border-top: 1px #ccc solid; border-right: 1px #ccc solid; width: 100%; margin: 5 0px; }
.table_search tr { border: 0; }
.table_search td { border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 0 5px; height: 28px; }

/*页面上最外层的表格，被masterpage使用*/
.tableContent { background: #9F9F9F; width: 100%; }

/*输入表单的表格*/
.tableContent { width: 100%; margin: 5 0px; }
.tableContent .tdHeader { background: url(/images/base/list_hd_bg.png); border-right: 1px #DCDCDC solid; font-weight: bold; padding: 4px; }

.tableContent td { padding-right: 2px; padding-left: 2px; background: #ffffff; padding-bottom: 2px; padding-top: 2px; }

.tableContent .tdTitle td { background: #EAF0FB; }

.tableContent .tdTitle { background: #EAF0FB; }
.tableContent .tdButton { background: url(/images/base/footer_bg.png) bottom left; border: none; border-collapse: collapse; border-spacing: 0px; text-align: right; height: 30px; text-align: right; }

.Button { font-family: "宋体"; font-size: 9pt; }
/*
.tableContent td{border-left:1px #ccc solid; border-bottom:1px #ccc solid; padding:0 5px; height:28px;}

.tableContent {border-top:1px #ccc solid; border-right:1px #ccc solid; width:100%; margin:5 0px;}
.tableContent tr{border:0;}
*/

.DivIfrWorkFlow { width: 100%; height: 350px; }
.table_page { margin-bottom: 6px; }

.line_bottom { border-bottom: solid 1px #CCCCCC; }

.base_tree_padding_all { padding: 3px; }

.base_border_bottom { border-bottom: 1px solid #78a3c9; }

.dagu_table_padding_left { padding-right: 8px; }

.dagu_table_padding_main { padding: 6px; }

.tableForm { margin-bottom: 5px; color: #333333; background-color: #CCCCCC; width: 100%; border: none; }
.tableForm th { background-color: #F9F9F9; }
.tableForm td { background-color: white; }

.input1 { border: 1px solid #CCCCCC; margin: 5px 0px; }
.input1-bor { background: #F0F9FB; /*----for IE----*/ border: 1px solid #1D95C7; }
.input-button { border-right: #CCCCCC 1px solid; padding-right: 5px; border-top: #CCCCCC 1px solid; padding-left: 5px; font-size: 12px; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#f9f9f8, EndColorStr=#ffffff); border-left: #CCCCCC 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #CCCCCC 1px solid; width: 100px; margin: 0 5px; }
.g-alm { vertical-align: middle; }


#dialog-overlay { width: 100%; height: 100%; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; position: absolute; background: #000; top: 0; left: 0; z-index: 3000; display: none; }
#dialog-overlay1 { width: 100%; height: 100%; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; position: absolute; background: #000; top: 0; left: 0; z-index: 3000; display: none; }
#dialog-box1 { -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #eee; position: absolute; z-index: 5000; display: none; }
#dialog-box1 .dialog-content { text-align: left; padding: 5px; width: auto; margin: 5px; color: #666; font-family: arial; font-size: 11px; }
#dialog-box1 .dialog-content p { font-weight: 700; margin: 0; }
#dialog-box1 .dialog-content ul { margin: 10px 0 10px 20px; padding: 0; height: 50px; }

#dialog-box { -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #eee; position: absolute; z-index: 5000; display: none; }
#dialog-box .dialog-content { text-align: left; padding: 5px; width: auto; margin: 5px; color: #666; font-family: arial; font-size: 11px; }
#dialog-box .dialog-content p { font-weight: 700; margin: 0; }
#dialog-box .dialog-content ul { margin: 10px 0 10px 20px; padding: 0; height: 50px; }

.closeButton { background: url(/images/base/close.JPG); height: 60px; background-repeat: no-repeat; border: none; }
.openButton { background: url(/images/base/open.JPG); height: 60px; background-repeat: no-repeat; border: none; }

/*倪靖新增*/

.tableList { border-collapse: collapse; position: static; width: 100%; }
.trListHead { text-align: center; height: 30px; background: url(/images/base/table_head.gif); border-bottom: 1px solid #78a3c9; color: #333333; }
.tableList td { height: 22px; }


/*倪靖新增--分页*/
.tablePage { margin-top: 15px; }

/*列表头部标题*/
.tableSubtitle { border-top: silver 1px solid; border-right: silver 1px solid; background: #C6D5F5; border-left: silver 1px solid; width: 100%; border-bottom: white 0px solid; }

.tableSubtitle td { padding-right: 1px; padding-left: 4px; background: white; padding-top: 3px; }

/*按钮*/
.button { border-top: #c4cccc 1px solid; border-left: #acb5b5 1px solid; border-right: #acb5b5 1px solid; border-bottom: #6f7777 1px solid; padding-right: 5px; padding-left: 5px; padding-bottom: 1px; padding-top: 2px; background: #fefefe; color: #222222; height: 20px; margin-left: 3px; }

button { border-top: #c4cccc 1px solid; border-left: #acb5b5 1px solid; border-right: #acb5b5 1px solid; border-bottom: #6f7777 1px solid; padding-right: 5px; padding-left: 5px; padding-bottom: 1px; padding-top: 2px; background: #fefefe; color: #222222; height: 20px; margin-left: 3px; }



.tdRight { text-align: right; }

.center40 { text-align: center; width: 40px; }

.center50 { text-align: center; width: 50px; }

.center60 { text-align: center; width: 60px; }

.center80 { text-align: center; width: 80px; }

.center100 { text-align: center; width: 100px; }

.center120 { text-align: center; width: 120px; }

.center150 { text-align: center; width: 150px; }

.center180 { text-align: center; width: 180px; }

.center200 { text-align: center; width: 200px; }
.center230 { text-align: center; width: 230px; }
.center500 { text-align: center; width: 500px; }
.tdcenter { text-align: center; }

.input_30 { width: 30px; }
.input_50 { width: 50px; }
.input_70 { width: 70px; }
.input_100 { width: 100px; }
.input_date { }
.input_150 { width: 150px; }
/*默认值*/.input_170 { width: 170px; }
.input_200 { width: 200px; }
.input_230 { width: 230px; }
.input_280 { width: 280px; }
.input_300 { width: 300px; }
.input_330 { width: 330px; }
.input_350 { width: 350px; }
.input_400 { width: 400px; }
.input_500 { width: 500px; }
.input_600 { width: 600px; }
.input_content { width: 700px; height: 380px; }
.input_desc { width: 400px; height: 150px; }
.input_area { width: 300px; height: 150px; }
.input_area_375_60 { width: 375px; height: 60px; }
.input_area_200_150 { width: 200px; height: 150px; }
.input_area_200_100 { width: 200px; height: 50px; }
.div_area_500_100 { height: 350px; width: 700px; overflow: scroll; }
.div_overflow { overflow: hidden; }
.div_700_100_noscroll { height: 250px; width: 700px; }

.color { color: #CC0033; }
.blur { color: #66CCFF; }
.yellow { color: #FFCC33; }
.table_mode { width: 100%; border: none; height: auto; }
.table_mode td { background-color: white; text-align: left; }
.input-button_red { border-right: #CCCCCC 1px solid; padding-right: 5px; border-top: #CCCCCC 1px solid; padding-left: 5px; font-size: 12px; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#f9f9f8, EndColorStr=#ffffff); border-left: #CCCCCC 1px solid; cursor: hand; color: red; padding-top: 2px; border-bottom: #CCCCCC 1px solid; width: 100px; margin: 0 5px; }
.table_modecenter { width: 100%; border: none; }
.table_modecenter td { background-color: white; text-align: center; }
.center { width: 100px; background-color: white; text-align: center; }
.table_Add { border-top: 1px #ccc solid; border-right: 1px #ccc solid; margin: 5 0px; width: 550px; }
.table_Add tr { border: 0; }
.table_Add td { border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 0 5px; height: 28px; }

.table_Add2 { border-top: 1px #ccc solid; border-right: 1px #ccc solid; margin: 5 0px; }
.table_Add2 tr { border: 0; }
.table_Add2 td { border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 0 5px; }


.table_mode2 { width: 100%; border: none; height: 100%; }
.table_mode2 td { background-color: white; text-align: left; }
.input_text { height: 17px; line-height: 17px; border: solid 1px #CCCCCC; overflow: hidden; padding: 2px; }
.input_text_focus { height: 17px; line-height: 17px; border: solid 1px #CCCCCC; overflow: hidden; padding: 2px; }
.input_select { height: 24px; line-height: 24px; border: solid 1px #CCCCCC; padding: 2px; }
.input_content { width: 600px; height: 100px; }



