* { font-size: 12px; font-family: Tahoma,Verdana,微软雅黑,新宋体; }
body { background: #D2E0F2; }
a { color: Black; text-decoration: none; margin: 0 5px; }
a:hover { color: Red; text-decoration: underline; }
.tdTitle{ background: #EAF0FB; }
.textbox03 { border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif,宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px; font-weight: bold; width: 190px; }

.txt01 { font: Verdana, Geneva, sans-serif,宋体; padding: 3px 2px 2px 2px; border-width: 1px; border-color: #ddd; color: #000; }
.txt { border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif,宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px; }
.txt80 { border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif,宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px; width: 85px; }
.txt60 { border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif,宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px; width: 60px; }

.footer { text-align: center; color: #15428B; margin: 0px; padding: 0px; line-height: 23px; font-weight: bold; }

.head a { color: White; text-decoration: underline; }

.easyui-accordion ul { list-style-type: none; margin: 0px; padding: 10px; }
.easyui-accordion ul li { padding: 0px; }
.easyui-accordion ul li a { line-height: 24px; }
.easyui-accordion ul li div { margin: 2px 0px; padding-left: 10px; padding-top: 2px; }
.easyui-accordion ul li div.hover { border: 1px dashed #99BBE8; background: #E0ECFF; cursor: pointer; }
.easyui-accordion ul li div.hover a { color: #416AA3; }
.easyui-accordion ul li div.selected { border: 1px solid #99BBE8; background: #E0ECFF; cursor: default; }
.easyui-accordion ul li div.selected a { color: #416AA3; font-weight: bold; }
.icon { background: url(/images/base/tabicons.png) no-repeat; width: 18px; line-height: 18px; display: inline-block; }
.icon-sys { background-position: 0px -200px; }
.icon-set { background-position: -380px -200px; }
.icon-add { background-position: -20px 0px; }
.icon-add1 { background: url('/images/themes/icon/edit_add.png') no-repeat; }
.icon-nav { background-position: -100px -20px; }
.icon-users { background-position: -100px -480px; }
.icon-role { background-position: -360px -200px; }
.icon-set { background-position: -380px -200px; }
.icon-log { background-position: -380px -80px; }
.icon-delete16 { background: url('/images/themes/icon/delete.gif') no-repeat; width: 18px; line-height: 18px; display: inline-block; }
.icon-delete { background-position: -140px -120px; }
.icon-edit { background-position: -380px -320px; }
.icon-magic { background-position: 0px -500px; }
.icon-database { background-position: -20px -140px; }
.icon-expand { background: url('/images/base/coll2.gif') no-repeat; }
.icon-collapse { background: url('/images/base//coll3.gif') no-repeat; }
.center100 { width: 100px; text-align: center; }
.center80 { width: 80px; text-align: center; }


/* 弹出框 style */
.win_win1 { width: 400px; position: absolute; }
.win_win2 { width: 400px; position: absolute; }
.win_top { background: url(/images/a/v1.0//common/spline.png) -4px -1061px no-repeat; height: 6px; overflow: hidden; }
.win_bottom { background: url(/images/a/v1.0/common/spline.png) -4px -1067px no-repeat; height: 6px; overflow: hidden; }
.win_d, .win_e { background: #fff url(/images/a/v1.0/common/bg_win_d.png) left bottom repeat-x; border: none; border-left: #888 1px solid; height: 168px; border-right: #888 1px solid; }
.win_e { height: 320px; _width: 398px; overflow: hidden; }
.win_bt { padding: 9px 0px 0px 15px; color: #4f5b9d; font-size: 14px; font-weight: bold; }
.win_inf .worming { background: url(/images/a/v1.0/ico/ico_sprite.png) 5px -150px no-repeat; width: 40px; height: 30px; position: absolute; left: 54px; top: 52px; }
.win_inf .worming3 { background: url(/images/a/v1.0/ico/ico_sprite.png) -30px -150px no-repeat; width: 30px; height: 30px; position: absolute; left: 59px; top: 52px; }
.win_inf2 .worming2 { background: url(/images/a/v1.0/ico/ico_sprite.png) 5px -150px no-repeat; width: 40px; height: 30px; position: absolute; left: 24px; top: 52px; }
.win_inf2 .worming4 { background: url(/images/a/v1.0/ico/ico_sprite.png) 5px -280px no-repeat; width: 50px; height: 40px; position: absolute; left: 24px; top: 55px; }
.left_ts span { height: 24px; display: block; }
.win_inf, .win_inf2 { padding-left: 58px; line-height: 18px; margin: 20px 40px; margin-bottom: 0px; height: 80px; }
.win_inf2 { margin-left: 5px; }
.win_inf3, .win_inf4 { line-height: 18px; margin: 10px 20px; height: 96px; margin-bottom: 15px; }
.win_inf4 { margin-top: 0px; }
.win_but { margin: auto; text-align: center; }
.win_but1 { margin: auto; width: 255px; }
.win_sp1 { background: url(/images/a/v1.0/ico/ico_sprite.png) -5px -575px no-repeat; margin-left: 20px; padding-left: 20px; display: block; height: 20px; }
.win_sp2 { margin-left: 20px; }
.win_text { height: 75px; width: 358px; margin: 0; *margin-left:-22px;_margin-left:-20px;padding:0;}
.win_sp3 { display: block; margin: 20px 0px 5px 80px; text-align: left; }
.win_inp { padding: 2px; width: 236px; margin: auto; display: block; margin-bottom: 22px; }


#winpop { font-size: 12px; top: 10px; width: 90%; height: 90%; position: absolute; z-index: 9999; background: #FFF; }
#winpop .win { width: 100%; height: 100%; position: relative; z-index: 9997; }
#winpop #win_title { height: 22px; line-height: 22px; background-color: #333; color: white; text-align: left; padding-left: 5px; }
#winpop #winclose { height: 30px; float: right; padding-right: 5px; padding-left: 5px; border: 1px solid #fff; }



/*---- 数据列表样式----*/   
 .tblist{ border-collapse: collapse;   position: static; width: 100%;  height: 20px; color: #484849;}
 .tblist th{color: #1E5494;  text-decoration: none; }
 .tblist td{padding-left: 3px;}
 .tblist .odd{background-color: #f6f6f6;}
 .tblist .selected{ background-color: #fcffd4; cursor: pointer; color: #6e6e69; }
 .tblist .selected a {color: #6e6e69; text-decoration: none;  }
 
 /* ---- 数据列表样式 end----- */
