<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="ConnStr" value="Server=10.88.4.133:60000;DataBase=SCV6TD;UID=CDHC;PWD=cdhc"/>-->
    <add key="ConnStr" value="Server=10.89.128.31:60004;DataBase=dzyxtd;UID=dz;PWD=dz;currentSchema=db2inst2;"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="DHQREntities" connectionString="metadata=res://*/BaseInfo.csdl|res://*/BaseInfo.ssdl|res://*/BaseInfo.msl;provider=System.Data.SqlClient;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.28.212.35;initial catalog=DHQR;persist security info=True;user id=sa;password=hc123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DHQREntities" connectionString="metadata=res://*/BaseInfo.csdl|res://*/BaseInfo.ssdl|res://*/BaseInfo.msl;provider=System.Data.SqlClient;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.89.72.9;initial catalog=DHQR;persist security info=True;user id=sa;password=gyyc123!@#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TestEntities" connectionString="metadata=res://*/Testdb.csdl|res://*/Testdb.ssdl|res://*/Testdb.msl;provider=Devart.Data.DB2;provider connection string=&quot;user id=CDHC;password=cdhc;server=10.88.0.76:60000;database=SCV6TD;persist security info=True;current schema=CDHC&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DHQREntities" connectionString="metadata=res://*/BaseInfo.csdl|res://*/BaseInfo.ssdl|res://*/BaseInfo.msl;provider=System.Data.SqlClient;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DHQR;persist security info=True;user id=sa;password=qaz;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TestEntities" connectionString="metadata=res://*/Testdb.csdl|res://*/Testdb.ssdl|res://*/Testdb.msl;provider=Devart.Data.DB2;provider connection string=&quot;user id=dz;password=dz;server=10.89.128.31:60004;database=dzyxtd;persist security info=True;current schema=CDHC&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>